<div class="grid grid-cols-1 md:grid-cols-[15dvw_1fr] gap-x-8">
    <aside>
        <form [formGroup]="filters" (ngSubmit)="onSubmit()" class="flex flex-col gap-y-4 mb-8">
            <div class="flex flex-col gap-y-3">
                <h4>Tipo de propiedad</h4>
                <div>
                    <checkbox-component formControlName="isHouse" htmlFor="house">
                        Casa
                    </checkbox-component>
                    <checkbox-component formControlName="isApartment" htmlFor="apartment">
                        Apartamento
                    </checkbox-component>
                </div>
            </div>
            <div class="flex flex-col gap-y-3">
                <h4>Opciones</h4>
                <div>
                    <checkbox-component formControlName="isSharedRoom" htmlFor="room-shared">
                        Cuarto compartido
                    </checkbox-component>
                    <checkbox-component formControlName="isSharedBathroom" htmlFor="bathroom-shared">
                        Baño compartido
                    </checkbox-component>
                    <checkbox-component formControlName="isSharedKitchen" htmlFor="kitchen-shared">
                        Cocina compartida
                    </checkbox-component>
                    <checkbox-component formControlName="isPetFriendly" htmlFor="pet-friendly">
                        Pet friendly
                    </checkbox-component>
                </div>
            </div>
            <div class="flex flex-col gap-y-3">
                <h4>Precio</h4>
                <div class="flex gap-x-2">
                    <input-container>
                        <label-component>
                            Desde
                        </label-component>
                        <input-component formControlName="minPrice" type="number" icon="dollar-sign"
                            placeholder="0"></input-component>
                    </input-container>
                    <input-container>
                        <label-component>
                            Hasta
                        </label-component>
                        <input-component formControlName="maxPrice" icon="dollar-sign"
                            placeholder="0"></input-component>
                    </input-container>
                </div>
            </div>
            <div class="flex justify-end">
                <button-component type="submit">Buscar</button-component>
            </div>
        </form>
    </aside>
    <main class="flex flex-col gap-y-4">
        <header class="flex flex-col md:flex-row justify-between gap-4 md:items-center">
            <h2 class="text-2xl font-medium text-purple-500">
                Más cercanos a ti
            </h2>
            <div class="flex flex-col md:flex-row gap-4 items-start">
                <input-container class="!flex flex-row !items-start">
                <label-component>Cerca de</label-component>
                <div class="border h-10 w-full border-input bg-background flex items-center justify-start gap-x-2 px-3 py-2 has-[:focus]:outline-none rounded-md has-[:focus]:ring-offset-background has-[:focus]:ring-2 has-[:focus]:ring-ring has-[:focus]:ring-offset-1">
                    <input type="text"
                          placeholder="BUAP..."
                       aria-label="Number"
                       matInput
                       (input)="searchUniversity()"
                       class="flex w-full h-full border-none focus:ring-none bg-transparent text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground outline-none disabled:cursor-not-allowed disabled:opacity-50"
                       [formControl]="university"
                       [matAutocomplete]="auto">
                </div>
                <mat-autocomplete (optionSelected)="onSelect($event)" autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                  @for (option of universitiesFiltered; track option) {
                    <mat-option [value]="option">{{option.name}}</mat-option>
                  }
                </mat-autocomplete>
              </input-container>
            <input-container class="!flex flex-row !items-start">
                <label-component>
                    Rango
                </label-component>
                <select-component [formControl]="nearBy" [options]="nearKm" name=""></select-component>
            </input-container>
            </div>
        </header>
        <section class="grid grid-cols-1 md:grid-cols-4 gap-6">
            <div class="md:col-span-4">
                <map-component [calculateNearby]="true" [nearby]="nearBy.value" [clickable]="false"
                    (locationsCalculated)="getLocations($event)" [navigateOnClick]="true"
                    [centerOn]="center"
                    [coords]="coords"></map-component>
            </div>
            @for (rent of rents; track rent.id){
            <card-component>
                <card-image [src]='rent.images[0].url'></card-image>
                <card-body class="flex flex-col gap-y-2 items-start">
                    <h3 class="text-lg font-medium">{{rent.shortDescription}}</h3>
                    <h4>{{rent.address}}</h4>
                    <rate-component [rate]="rent.rate"></rate-component>
                    <span class="text-sm text-zinc-500">{{rent.type | rentType}}</span>
                </card-body>
                <card-footer class="justify-between">
                    <span class="text-zinc-500">$<span
                            class="text-2xl font-medium text-purple-500">{{rent.price}}</span><small>/mes</small></span>
                    <link-component [href]="'/' + rent.id">
                        Ver más
                    </link-component>
                </card-footer>
            </card-component>
            }
        </section>
    </main>
</div>