<div class="p-8 h-dvh">
    <header class="flex flex-row justify-between items-center">
        <div class="flex flex-col gap-y-2">
            <h1 class="text-purple-500 text-4xl">
                Encuentra tu próximo hogar
            </h1>
            <p class="text-zinc-500">
                Busca departamentos, casas y más en tu área deseada.
            </p>
        </div>
        <div class="flex flex-row gap-x-4 items-center">
            <link-component [asButton]="true" href="near" icon="map-pin" variant="outline">
                Buscar cerca de mi
            </link-component>
            <link-component icon="upload" [asButton]="true" href="/add-department">
                Publicar departamento
            </link-component>

        </div>
    </header>
    <div class="py-8">
        <ng-content></ng-content>
    </div>
</div>