@if (!apartment){
<div class="flex justify-center items-center h-96">
    Cargando...
</div>

}
@else {
<main class="flex flex-col gap-y-8">
    <div class="grid grid-cols-1 md:grid-cols-[60dvw_1fr] gap-8">
        <image-grid [images]="apartment.images"></image-grid>
        <section class="flex flex-col gap-y-6">
            <header class="flex flex-col gap-y-2">
                <h2 class="text-5xl text-balance font-bold">{{ apartment.shortDescription }}</h2>
                <h3 class="text-xl text-zinc-500 text-balance">{{ apartment.address }}</h3>
                <rate-component [rate]="apartment.rate"></rate-component>
            </header>
            <article class="flex flex-col gap-y-4">
                <div>
                    <h4 class="text-2xl text-balance font-bold">Descripción</h4>
                    <p class="text-zinc-500">{{ apartment.longDescription }}</p>
                </div>
                <div class="flex flex-row items-end gap-x-4">
                    <lucide-angular name="user" [size]="32" class="self-center"></lucide-angular>
                    <div>
                        <h4 class="font-bold">{{apartment.lessor.name}}</h4>
                        <span>{{apartment.lessor.phone}}</span>
                    </div>
                </div>
                <div class="flex flex-row items-end gap-x-4">
                    <lucide-angular name="mail" [size]="32" class="self-center"></lucide-angular>
                    <div>
                        <h5 class="font-bold">Email</h5>
                        <span>{{apartment.lessor.email}}</span>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-[1fr_61%] gap-8">
        <section class="flex flex-col gap-y-4">
            <article class="flex flex-col gap-y-3">
                <h3 class="text-2xl text-balance font-bold">Información</h3>
                <div class="flex flex-row gap-4 items-center">
                    <lucide-angular name="paw-print"></lucide-angular>
                    <span class="text-lg">{{
                        apartment.isPetFriendly
                        ? 'Se permiten mascotas'
                        : 'No se permiten mascotas'
                        }}</span>
                </div>
                <div class="flex flex-row gap-4 items-center">
                    <lucide-angular name="bath"></lucide-angular>
                    <span class="text-lg">{{ apartment.isSharedBathroom ? 'Baño compartido' : 'Baño propio' }}</span>
                </div>
                <div class="flex flex-row gap-4 items-center">
                    <lucide-angular name="cooking-pot"></lucide-angular>
                    <span class="text-lg">{{ apartment.isSharedKitchen ? 'Cocina compartida' : 'Cocina propia' }}</span>
                </div>
                <div class="flex flex-row gap-4 items-center">
                    <lucide-angular name="bed"></lucide-angular>
                    <span class="text-lg">{{ apartment.isSharedRoom ? 'Habitación compartida' : 'Habitación propia'
                        }}</span>
                </div>
                <div class="flex flex-row gap-4 items-center">
                    <lucide-angular name="layout-panel-left"></lucide-angular>
                    <span class="text-lg">{{ apartment.rooms }} cuarto{{ apartment.rooms > 1 ? 's' : '' }}</span>
                </div>
            </article>
            <article class="flex flex-col gap-y-3">
                <h3 class="text-2xl text-balance font-bold">Renta</h3>
                <div class="flex flex-row gap-4 items-center">
                    <!-- <lucide-angular name="dollar"></lucide-angular> -->
                    <div class="text-zinc-500 flex items-baseline gap-x-2">
                        <div class="flex items-baseline">
                            <lucide-angular name="dollar-sign" size="20"></lucide-angular>
                            <strong class="text-3xl text-black">
                                {{ apartment.price }}
                            </strong>
                        </div>
                        <div>
                            <span>MXN</span>
                            <small>/mes</small>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <button-component icon="phone">
                    Contactar
                </button-component>
            </article>
        </section>
        <section class="flex flex-col gap-y-4">
            <h3 class="text-2xl text-balance font-bold">Ubicación</h3>
            <map-component [clickable]="false" [single]="false" [coords]="universities"
                [centerOn]="{lat: apartment.lat , lng: apartment.lng}"></map-component>
        </section>
    </div>
</main>
}